go 1.24.7

use (
	./gateway
	./pkg/metrics
	./proto
	./services/asr-service
	./services/auth-service
	./services/material-service
	./services/ocr-service
	./services/quiz-service
	./services/user-service
)
